.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}

.roadText {
  width: 52%;
}

.roadText h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #1f1f21;
}

.roadText p {
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 28.04px;
  color: #515151;
  width: 100%;
}

.roadImage {
  width: 48%;
}

.roadImage img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 1rem;
  }

  .roadText {
    width: 53%;
  }

  .roadText h2 {
    font-size: 30px;
  }

  .roadText p {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .roadText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .roadText h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .roadText p {
    font-size: 14px;
    line-height: 21.08px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
  }

  .roadText {
    width: 95%;
  }

  .roadImage {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .roadText {
    width: 100%;
  }
}
