.container {
    width: 100%;
    background-image: url(../../Assests/contactHero.png);
    background-repeat: no-repeat;
    padding-top: 15rem;
    margin-bottom: 6rem;
    background-position: center;
    /* height: 100vh; */
}
