.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.housingText {
  width: 50%;
}

.housingText h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  width: 95%;
  color: #1f1f21;
}

.housingText p {
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 28.04px;
  color: #515151;
  width: 100%;
}

.housingImage {
  width: 48%;
}

.housingImage img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .housingText {
    width: 52%;
  }

  .housingText h2 {
    font-size: 30px;
  }

  .housingText p {
    font-size: 18px;
  }

  .housingImage {
    width: 47%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    gap: 1rem;
  }

  .housingText h2 {
    font-size: 30px;
    width: 100%;
  }

  .housingText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .housingText h2 {
    font-size: 25px;
  }

  .housingText p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
    margin-top: 2rem;
  }

  .housingText {
    width: 95%;
  }

  .housingImage {
    width: 100%;
  }

  .housingText h2 {
    line-height: 35px;
  }

  .housingText p {
    margin-bottom: 1rem;
    line-height: 19.04px;
  }
}

@media screen and (max-width: 425px) {
  .housingText {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .housingText h2 {
    font-size: 23px;
  }
}
