.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.remodelingText {
  width: 50%;
}

.remodelingText h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  width: 100%;
  color: #1f1f21;
}

.remodelingText p {
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 28.04px;
  color: #515151;
  width: 97%;
}

.remodelingImage {
  width: 48%;
}

.remodelingImage img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .remodelingText h2 {
    font-size: 30px;
  }

  .remodelingText p {
    font-size: 17.5px;
    width: 100%;
  }

  .remodelingImage img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .remodelingText h2 {
    font-size: 26px;
  }

  .remodelingText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .remodelingText h2 {
    font-size: 21px;
    line-height: 35px;
  }

  .remodelingText p {
    font-size: 14px;
    line-height: 21.08px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
    margin-top: 3rem;
  }

  .remodelingText {
    width: 95%;
  }

  .remodelingText h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .remodelingImage {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .remodelingText {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .remodelingText h2 {
    font-size: 22px;
    line-height: 33px;
  }
}
