.container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    /* gap: 2rem;  */
    }
    
    .managementText {
    width: 50%;
    }
    
    .managementText h2{
    font-family: Lato;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    width: 95%;
    height: 48px;
    }
    
    .managementText p{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.04px;
    color: #515151;
    width: 99%;
    height: 257px;
    }
    
    .managementImage {
        width: 50%;
    }